#topBar {
	background-color: lightgray;
	font-family: Ubuntu, sans-serif;
	border: inset;
	
}

#address{
	border: solid;
	font-weight: normal;
	background-color: lightcoral;
}


.topNavBar {
	background: steelblue;
}

svg circle:hover{
	opacity: 0.8;
	fill: goldenrod;
}

svg line:hover{
	opacity: 0.5;
	fill: goldenrod;
}

* {
	background: lightblue;
}