#topBar {
	background-color: lightgray;
	font-family: Ubuntu, sans-serif;
	border: inset;
	
}

#address{
	border: solid;
	font-weight: normal;
	background-color: lightcoral;
}

#GhengisKhan{
	fill: red;
}

#OdaNobunga{
	fill: red;
	color: red;
}

.topNavBar {
	background: steelblue;
}

* {
	background: lightblue;
}