#topBar {
	background-color: lightgray;
	font-family: Ubuntu, sans-serif;
	border: inset;
	
}

svg circle:hover{
	opacity: 0.8;
	stroke: goldenrod;
}

svg line:hover{
	opacity: 0.5;
	fill: goldenrod;
}

* {
	background: lightblue;
}